body{
	font-family: verdana, calibri, sans-serif;
	margin: 0px;
	padding: 0px;
}
nav{
	border: 1px solid black;
	margin-left: 70px;
	margin-right: 70px;
}
nav > ul{
	margin-left: 30px;
	padding: 10px;
	background: white;
}

nav li{
	list-style-type: none;
}
nav >  ul > li {
	float: left;
	position: relative;
	margin-left: 60px;
}
nav > ul::after{
	content: "";
	display: table;
	clear: both;
}
.submenu{
   display: none;
}
nav input[type=checkbox]{
	display: none;
}
nav label{
	display: none;
}
nav a{
	text-decoration: none;
}
nav > ul > li > a{
	padding: 0px 20px;
	margin: 20px;
	color: black;
}
.bordure{
	padding: 20px;
	background: #fff;
}
.menu-accueil{
	background-color: #424558;
	padding: 10px;
}
.menu-contact{
	background-color: rgb(0, 162, 255);
	padding: 10px;
}
div#one{
	background: #424558;
	color: white;
	text-align: center;
	width: 1000px;
	height: 320px;
    margin-left: 200px;
}
section input{
      color: white;
      margin: 50px;
}
.two{
	text-align: center;
}
div#three{
      background: #424558;
      color: white;
      float: left;
      justify-content: center;
	  margin-left: 100px;
	  padding: 50px;
}
.four{
      text-align: center;
      margin: 50px;
}
.five{
    margin-left: 200px;
	padding: 0px;
}
.footer{
	background-color: #424558;
}
.row{
	display: flex;

}
.footer-col{
	width: 25%;
}
ul{
	list-style: none;
}
.footer-col{
	color: #fff;
	margin-left: 100px;
	padding: 50px;
}
footer p{
    color: #fff;
	text-align: center;
	padding: 50px;
}